#content {
  /* float: right; */
  padding: {
    top: 35px;
    right: percentage(2.5/100);
    bottom: 35px;
    left: percentage(22.5/100);
  }

  h1 {
    text-transform: uppercase;

    font: {
      size: font-size(28);
    }

    margin: {
      bottom: 35px;
    }
  }

  .actions {
    margin: {
      bottom: 20px;
    }
  }
}
