#header {
  background: $header;
  padding: 10px 0;
  overflow: hidden;

  h1 {
    width: percentage(17.5/100);

    float: left;

    padding: 0 percentage(1.25/100);
    margin: 0;

    font: {
      size: font-size(28);
      weight: 700;
    }

    text-transform: uppercase;

    a {
      color: $yellow;
    }
  }

  p {
    line-height: 39px;
    color: mix($header, $white, 25%);

    margin: 0;

    font: {
      size: font-size(14);
    }

    &.alpha {
      width: percentage(20/100);
      float: left;

      padding: 0 percentage(2.5/100);
    }

    &.omega {
      width: percentage(52.5/100);
      float: right;

      text-align: right;

      padding: 0 percentage(1.25/100);
    }

    a {
      color: $white;

      font: {
        weight: 700;
      }
    }
  }
}
