.brand {
  background: $blue;
  border-bottom: 5px solid mix($header, $black, 95%);

  width: percentage(20/100);

  float: left;

  padding: 10px percentage(1.25/100);
  margin: 0;

  font: {
    size: font-size(28);
    weight: 700;
  }

  position: relative;
  z-index: 10;

  a {
    color: $cream;
  }
}

#header {
  background: $cream;
  border-bottom: 5px solid mix($cream, $black, 95%);
  padding: 10px percentage(2.5/100);
  overflow: hidden;

  p {
    line-height: 39px;
    color: mix($cream, $black, 50%);

    margin: 0;

    font: {
      size: font-size(14);
    }

    &.alpha {
      width: percentage(20/100);
      float: left;
    }

    &.omega {
      width: percentage(52.5/100);
      float: right;

      text-align: right;
    }

    a {
      color: mix($cream, $black, 35%);

      font: {
        weight: 700;
      }
    }
  }
}
