<h1>Edit <% if (admin) { %>an<% } else { %>your<% } %> account</h1>

<form method="POST" action="<% if (admin) { %>/admin<% } %>/user/update/<%= user.id %>">
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= user.name %>" />
    <label for="email">Email</label>
    <input type="email" name="email" required value="<%= user.email %>" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <label for="confirmation">Password confirmation</label>
    <input type="password" name="confirmation" />
    <% if (admin) { %>
      <label for="admin">Admin</label>
      <input type="checkbox" name="admin" id="admin" value="<% if (user.admin) { %>true<% } else { %>false<% } %>" <% if (user.admin) { %>checked<% } %> />
    <% } else { %>
      <input type="hidden" name="admin" value="false" />
    <% } %>
  </fieldset>
  <fieldset>
    <button class="btn">Submit</button>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </fieldset>
</form>

<script>
  PowerHouse.ready(function() {

    var theCheckbox = document.getElementById('admin'), theValue;
    PowerHouse.addEventListener(theCheckbox, 'change', function(event) {
      theValue = theCheckbox.value;
      var adminValue = theValue === 'false' ? theCheckbox.value = true : theCheckbox.value = false;
      return adminValue;
    });

  });
</script>
