<h1>Create an account</h1>

<form method="POST" action="/user/create">
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" />
    <label for="email">Email</label>
    <input type="email" name="email" required />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <label for="confirmation">Password confirmation</label>
    <input type="password" name="confirmation" />
  </fieldset>
  <fieldset>
    <button class="btn">Submit</button>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </fieldset>
</form>
