/*------------------------------------*\
  $BUTTONS
\*------------------------------------*/

$btn-padding: 0 20px;
$btn-border-radius: 0;
$btn-background-color: $header;
$btn-hover-background-color: mix($header, $black, 95%);
$btn-text-color: $white;
$btn-hover-text-color: $white;

/**
 * The basic structure of a button.
 */
.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: $btn-padding;
  font: inherit;
  text-align: center;
  text-decoration: none;
  color: $btn-text-color;
  cursor: pointer;
  background-color: $btn-background-color;
  border: 0;
  border-radius: 6px;

  height: 35px;
  line-height: 35px;

  border-bottom: 5px solid mix($header, $black, 95%);

  font: {
    weight: 700;
    size: font-size(12);
  }

  @if ($btn-border-radius != 0) {
    border-radius: $btn-border-radius;
  }

  @include states {
    text-decoration: none;
    color: $btn-hover-text-color;
    background-color: $btn-hover-background-color;
  }
}


/**
 * Full-width buttons
 */
.btn--full {
  width: 100%;
}

.btn--small {
  height: 25px;
  line-height: 25px;

  padding: 0 5px;

  border-width: 2px;

  font: {
    size: font-size(12);
  }
}

.btn--cancel {
  background: $error-color;
  border-color: mix($error-color, $black, 95%);

  @include states {
    text-decoration: none;
    color: $btn-hover-text-color;
    background-color: mix($error-color, $black, 95%);
  }
}

.btn--new {
  background: $success-color;
  border-color: mix($success-color, $black, 95%);

  @include states {
    text-decoration: none;
    color: $btn-hover-text-color;
    background-color: mix($success-color, $black, 95%);
  }
}

.btn--edit {
  background: $warning-color;
  border-color: mix($warning-color, $black, 95%);

  @include states {
    text-decoration: none;
    color: $btn-hover-text-color;
    background-color: mix($warning-color, $black, 95%);
  }
}
