<h1>Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Numbers</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Pages</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Users</th>
      <td><%= userCount %></td>
      <td><a href="/admin/user/index" class="btn btn--small btn--edit" role="link">Edit</a></td>
    </tr>
  </tbody>
</table>
